#edit-ting-default-covers-covers-display li {
  display: inline-block;
  text-align: center;
  width: 80px;
  margin: 0 1em;
}

#edit-ting-default-covers-covers-display img {
  float: left;
  width: 100%;
}